@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Marck+Script&family=Meow+Script&display=swap');

/* Fontu imports no google fonts */

:root{
    font-size: 16pt;
    font-family: sans-serif;
    /* font-family: cursive; */
}

body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}

header h1,h2{
  color:rgb(255, 69, 69); 
}
header{
    margin:50px;
    margin:50px 100px;
    /* margin:50px 100px 100px 50px; */
}

nav{
    background-color: black;
    display: flex;
    justify-content: center;
    gap:15px;
    padding: 20px;
}

nav a{
    color:white;
    text-decoration: none;
}

img.logo{
    /* width: 50px;
    height: 300px; */
    max-width: 300px;
    min-width: 100px;
    margin:20px auto;
    display: block;
}
.container{
    
    padding: 50px;
    padding: 20px 50px;
    max-width: 1200px;
    margin:auto;
    /* box-sizing: border-box; */
    /* width:500px; */

    display:flex;
    justify-items: flex-start;
    gap:10px

}

.container main{
    width: 70%;
    background: rgb(255, 247, 232);
    padding: 10px;
}
.container main img{
    max-width: 75%;
    display: block;
    margin: auto;
    margin-top:20px;
}


.container aside{
     width: 30%;
     background: rgb(255, 247, 232);
     padding: 10px;
}
.container *{
    /* border: 1px solid red; */
}

footer{
    background: black;
    color:white;
    padding: 50px;
}
footer h2{
    color:yellow
}

#name{
    background-color: blueviolet;
}

.heading1{
    color:green;
    margin-top:50px;
}


/* Teksta formatēšana */
    header h1{
        text-align: center;
        font-size: 3rem;
        font-weight:100;
        font-variant: normal;
        text-transform: lowercase;
        /* text-indent: 2rem; */
        text-decoration: underline 1px double black;
        font-family: cursive;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-family: "Kalam", cursive;
        font-weight: 700;
    }

    header h2{
         font-family: "Marck Script", cursive;
         font-size: 2rem;
    }

    .google_maps{
        width: 100%;
        height: 300px;
    }

    footer{
        display: flex;
        justify-content: space-around;
    }

    footer{
        /* position: relative; */
    }
    /* Chat */
    .chat_window{
        /* outline:5px solid red; */
        position: static;
        /* position: relative;
        /* left:50px; */
        /* top:-50px;
        right:-50px;
        bottom:10px;  */
        position: absolute;
        bottom:10px;
        right:35px;
        width: 200px;
        position: fixed;
        background-color: white;
        box-shadow: 0px 0px 10px grey;
        button.close_btn{
           text-align: center;
            margin: 10px;
            display: block;
            position: relative;
            right:calc(-200px + 46px);
        }

        form{
            display: flex;
            flex-direction: column;
            gap:20px;
            margin: 20px;
            input,textarea,button{
                font-size: 1rem;
                padding:3px 10px;
            }
            textarea{
                resize: vertical;
            }
        }


    }
    

    nav{
        position: sticky;
        top:0px;
    }


    nav a:hover{
        color: red;
    }

    nav a:active{
         font-size: 1.3rem;
    }

    img:hover{
        border:1px solid red;
    }

    input:focus-visible, textarea:focus{
        background-color: cadetblue;
    }


    .chat_window{
            bottom:-250px;
            transition: 0.3s cubic-bezier(0,.09,.16,1.37);
    }
    .chat_window:hover{
              bottom:0px;
              transition: .5s cubic-bezier(0,.09,.16,1.37);
    }



    /* Transformācijas */
    img{
            filter: grayscale(1);
    }

        img:hover{
            /* transform: rotate(-720deg);
            transform: rotate(-720deg) scale(2);
            transform: translate(0px,20px);
            transform: skew(10deg,10deg);

            filter: blur(10px);
            /* filter: grayscale(0); */
            /* filter: opacity(0.5);
            filter: saturate(2);
            filter: blur(5px) opacity(.8);  */

            /* transition: .5s cubic-bezier(0,.09,.16,1.37); */
            animation: animacija1 .5s infinite ease-out;

        }

        @keyframes animacija1 {
               0%{
                    transform: scale(1) rotate(0deg);
                    filter: opacity(0.2);
               } 

               50%{
                    transform: scale(1.2) rotate(10deg);
                    filter: opacity(1);
               }
               100%{
                    transform: scale(1) rotate(0deg);
                    filter: opacity(0.2);
               }
        }
